body {
  margin-top: 15%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #343330;
}

main,
section {
  background-color: #45462a;
  color: #ffa737;
  width: 400px;
  height: 100%;
  padding: 20px;
  font-size: 24px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-result {
  text-align: center;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

#answer-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 10px 0;
}

.buttons {
  padding: 10px;
  background-color: #dc851f;
}

.buttons:hover {
  background-color: #ffa737;
  transform: translateY(3px);
}

.hidden {
  display: none;
}
